<!DOCTYPE html>
<html>
    <head>
    
        {% block head %}
        {% endblock %}        

        <link rel="stylesheet" href="/styles.css">
        <style>
            
        </style>
        <body>
            <header>
                <div class="links">
                    <a href="/">Sobre</a>
                    <a href="/courses">Aulas</a>
                </div>
            </header>

            {% block content %}{% endblock %}
            
        </body>
    </head>
</html>